{% extends "gamingworld/base.html" %}

{% block head %}
<script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block title %}
Pasarela de pago
{% endblock %}

{% block body %}
<hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
<hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
<div class="position-relative m-4" style="margin: 2%;" >
    <div class="progress" style="height: 1px;">
      <div class="progress-bar" role="progressbar" aria-label="Progress" style="width: 0%; " aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <button type="button" class="position-absolute  top-0 start-0 translate-middle btn btn-sm btn-secondary rounded-pill" style="width: 2rem; height:2rem;">1</button>
    <button type="button" class="position-absolute  top-0 start-50 translate-middle btn btn-sm btn-primary rounded-pill" style="width: 2rem; height:2rem;">2</button>
    <button type="button" class="position-absolute  top-0 start-100 translate-middle btn btn-sm btn-secondary rounded-pill" style="width: 2rem; height:2rem;">3</button>
    <br>
    <br>
 </div>

<div class="container text-center">
    <form id="payment-form">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Direccion a la que recibir el recibo</label>
            <input type="email" class="form-control" id="receipt_email" placeholder="pepito@gamingworld.com"
                aria-label="email" required />
        </div>
        <span>Cantidad total: {{ total_amount }} EUR</span>
        <div class="container m-3" id="payment-element"></div>
        <button class="btn btn-primary" id="submit">
            <div class="spinner hidden" id="spinner"></div>
            <span id="button-text">Pagar ahora</span>
        </button>
    </form>
</div>

<script defer>
    const stripe = Stripe("pk_test_51M9cKhHdW2vD7v649sedRFD7UUkSFIPj6MSjltJLDGy9Zib76eZrU4hB55qs709RvuWraLRojDxoNuC3EuhEDC6f00KhnXDZXf")

    let elements;

    initialize();

    document
        .querySelector("#payment-form")
        .addEventListener("submit", handleSubmit);

    function initialize() {
        let appereance = {
            theme: 'stripe',
        };
        elements = stripe.elements({
            appereance: appereance,
            clientSecret: '{{ clientSecret }}'
        });
        let paymentElement = elements.create("payment", {
            layout: "tabs",
        })
        paymentElement.mount("#payment-element")
    }

    async function handleSubmit(e) {
        e.preventDefault();

        const { error } = await stripe.confirmPayment({
            elements,
            "confirmParams": {
                return_url: "http://localhost:8000/products/payment/completed/{{purchase_id}}",
                receipt_email: document.getElementById("receipt_email").value,
            },
        });

        if (error.type === "card_error" || error.type === "validation_error") {
            console.log(error.message);
        } else {
            console.log("An unexpected error occurred.");
        }

    }

</script>

{% endblock %}