{% extends "gamingworld/base.html" %}

{% block title %}
Pedido no encontrado
{% endblock %}

{% block body %}
<div class="container text-center">
    <div class="row">
        <div class="col-md-12 rosa">
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
            <h4>Pedido no encontrado</h4>
            <p>El id de pedido proporcionado no esta asociado a ningun pedido o no existe.
            </p>
        </div>
    </div>
</div>
{% endblock%}
