{% extends "gamingworld/base.html" %}

{% block title %}
Catálogo de productos
{% endblock %}


{% block body %}

<div class="row bg-dark">
    <div class="col-md-1"></div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-4">
                <select class="form-select" aria-label="Selecciona un género" id="producttype" form="productfilter"
                    name="producttype" style="width: 100%;">
                    <option selected disabled>Selecciona un género</option>
                    {% for genero in generos %}
                    <option value="{{genero.id}}">{{genero.nombre}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4">
                <select class="form-select" aria-label="Selecciona un sección" id="section" form="productfilter"
                    name="section" style="width: 100%;">
                    <option selected disabled>Selecciona una sección</option>
                    {% for seccion in secciones %}
                    <option value="{{seccion.id}}">{{seccion.nombre}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4">
                <select class="form-select" aria-label="Selecciona un fabricante" id="manufacturer" form="productfilter"
                    name="manufacturer" style="width: 100%;">
                    <option selected disabled>Selecciona un fabricante</option>
                    {% for fabricante in fabricantes %}
                    <option value="{{fabricante.id}}">{{fabricante.nombre}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <form action="/products/" method="GET" id="productfilter">
            <button type="submit" class="btn btn-primary">Filtrar</button>
        </form>
    </div>
</div>

</div>
<div class="row bg-dark">
    <br>
</div>


<div class="container text-center">
    {% for trio in trios_productos %}
    <div class="row">
        {% for producto in trio %}
        <div class="col-12 col-md-4 text-center">
            <div class="card" style="max-height: fit-content; max-width: fit-content;">
                <img src={{producto.imagen}} class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="/products/{{producto.id}}">
                            {{producto.nombre}}
                        </a>
                    </h5>
                    <p class="card-text">{{producto.precio}}€</p>
                    <!--
                        <p class="card-text">{{producto.genero.nombre}}</p>
                        <p class="card-text">{{producto.fabricante.nombre}}</p>
                        <p class="card-text">{{producto.seccion.nombre}}</p>
                    -->
                    {% if producto.stock > 0 %}
                    <form action="/addproduct/{{producto.id}}" method="GET" id="add_product">
                        <input type="number" min="1" max="{{producto.stock}}" id="amount"
                            name="amount" placeholder="Selecciona una cantidad:" style="width: 50%;">
                        <button type="submit" href="#" class="btn btn-primary">+ <i
                                class="fas fa-shopping-basket"></i></button>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </form>
                        <!--
                        <a href="/products/{{producto.id}}" class="btn btn-primary">+ <i class="fas fa-shopping-basket"></i></a>
                        <a href="#" class="btn btn-primary">Comprar</a>
                        -->
                    {% else %}
                    <span style="background-color: red; border-radius: 5%; color: white; min-width: 200%;">SIN STOCK</span>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <br>
    <hr>
    </hr>
    {% endfor %}
</div>
{% endblock %}