{% extends "gamingworld/base.html" %}

{% block title %}
Politica de envío
{% endblock %}

{% block body %}
<div class="container text-center">
    <div class="row">
        <div class="col-md-12 rosa">
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
            <h4>Politica de devolución</h4>
            <p>Si el producto viene defectuoso o no era lo pedido, tendra que llamar al + 34 234 567 88 o enviar un
                correo a info@gamingworld.com. Una vez se haya puesto en contacto, se le indicará donde debe dejar el
                producto y como proceder: Podrá realizarse la entrega de un nuevo producto o reembolsar el producto ya
                comprado.</p>
        </div>
    </div>
</div>
{% endblock%}